<% include ./partials/header %>

<div class="container">
  <h1>
    Instructions will probably go on this page, doesn't seem to be any need to
    add a bunch of pages and complicate this more than it needs to be.
  </h1>
  <code>
    There may be a need to put some code in here, let's see what this looks
    like.
  </code>
</div>

<div class="container mt-4">
  <h4><strong>Routes</strong></h4>
  <p class="lead">Hitting Routes</p>
  <p>Get all hitters from a specific year: /api/batting/year</p>
  <p>Get a player from a specific year: /api/batting/year/players/name</p>
  <p>
    Get the players on a specific team by year: /api/batting/year/teams/teamName
  </p>
</div>

<% include ./partials/footer %>
